body {
  background: #f7f7f7;
}

.app-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.listings-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.listing-card {
  width: 320px;
  background: #fff;
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;
}

.card-header {
  position: relative;
  height: 180px;
  object-fit: contain;
  overflow: hidden;
}

.card-header img {
  width: 100%;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.card-item {
  width: 50%;
  font-size: 12px;
  margin-bottom: 0;
}

.like-btn {
  background: #4caf50;
  color: #fff;
  border: 0;
  border-color: #4caf50;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px;
}

.like-btn.liked {
  background: grey;
}
